 <h1>Listing given_answers</h1>
<% @user = GivenAnswer.where(:user_id => current_user.id) %>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Attempts</th>
      <th>Answer Result</th>
    </tr>
  </thead>

  <tbody>
    <% @user.each do |given_answer| %>
      <tr>
        <td>
          <%= given_answer.question.question_text %>
        </td>
        <td><%#= given_answer.answer %>

            <% @options=GivenAnswer.where(:question_id => given_answer.question.id)%>
            <%#= raise @options.inspect %>
            <% @options.map(&:answer).uniq.each do |option| %>
                 <% if given_answer.question.types == "checkbox" %>
                      <% checkbox_array=option.split('\n') %>
                          <% checkbox_array.each do |checkbox_ans| %>
                              <% if checkbox_ans.empty? %>
                               <% else %>
                                  <%= checkbox_ans %><br>
                                <% end %>
                          <% end %>
                  <% else %>
                      <%= option %><br> 
                  <% end %>
              <% end %>
        </td>
        <td>
          <%=@quest=GivenAnswer.count %>
        </td>
        <td>
            <% @ans = GivenAnswer.group(:answer).count %>
            <% if @ans.is_a?(Hash) %>
            <%#= raise @ans.inspect %>

                  <% @ans.each do |value,c|%>
                    <%=value %>
                    
                      <%= c %>
                   
                  <% end %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to surveys_path, class: 'col-lg-2 col-lg-offset-4 btn btn-info' do %>
  <i class="glyphicon glyphicon-ok-circle"></i> Finish
<% end %>
