 <% if @questions.empty? %>

      <div class = "alert alert-danger">
         <center><h3> Questions not available.</h3></center>
      </div>
        <%= link_to surveys_path, class: 'col-lg-1 col-lg-offset-5 btn btn-info' do %>
        <i class="glyphicon glyphicon-ok-circle"></i> Home
        <% end %>
    <% else %>
      <div class="panel-group">
        <div class="panel panel-info">
          <div class="panel panel-heading">
          </div>
          <div class="panel-body">

            <%= form_for [@survey,@given_answer] do |f| %> 
              <%= hidden_field_tag "total_question" , @questions.size %>
              <% @questions.each_with_index do |question,index| %>
                  <%= f.fields_for("#{question.id}",question) do |ans|%>
                  <%= render_answer_form_helper(question,ans,index) %>
                <% end %>
              <% end %>
              <br>
              <center><%= f.submit "Save" , class: "btn btn-success" %></center>
            <% end %>
          </div>
        </div>
    </div>
<% end %>




    




