<html>
<head>
  </head>
<body>
<div class="table-responsive">
<table class="table table-hover">
  <thead align="center">
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to survey.name, survey , class: "btn btn-link" %></td>
        <td><%= link_to 'Show', survey , class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey),class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Survey', new_survey_path , class: "btn btn-primary" %>



<% if user_signed_in? %>

  <% if current_user.id == User.first.id %>

<%= link_to 'New Survey', new_survey_path , class: "btn btn-success" %>
<% end %>
<% end %>

</body>
</html>
